<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hot Finds</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mars Data Dictionary</h1>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h4 class="heading">{{ scraped_data.news_title }} {{ scraped_data.news_p }}</h4>
        <h5>{{ scraped_data.featured_image_url }}, {{ scraped_data.mars_weather }}</h5>
        <small>{{ scraped_data.html_table }}</small>
      </div>
    </div>

  </div>
</body>

</html>